title: "TWIST whole exome"
subtitle: "Reference used is GRCh38"
intro_text: "The MultiQC report summarise analysis results."
#report_comment: "This is a comment about this report."

report_header_info:
  - Contact E-mail: "jessika.nordin@scilifelab.se"
  - Application Type: "WES"

show_analysis_paths: False

decimalPoint_format: ','

extra_fn_clean_exts: ##from this until end
    - '_N'
    - '_fastq'
    - '.dup'
#    - type: remove
#    pattern: UK-3116-
# extra_fn_clean_trim:   #if found in beginning or end

custom_content:
  order:
    - fastqc
    - picard
    - samtools
